<div>
    <p> Additional Hardware:<strong> {{value.additionalHardware == null ? "---":value.additionalHardware}} </strong></p>
    <p> Antivirus expiration date : <strong> {{value.antivirusExpirationDate == null ? "---":value.antivirusExpirationDate}}</strong></p>
    <p> Additional Software:<strong> {{value.additionalSoftware == null ? "---":value.additionalSoftware}}</strong></p>
    <p> Brand: <strong>{{value.brand == null ? "---":value.brand}}</strong></p>
    <p> Company name: <strong>{{value.companyName == null ? "---":value.companyName}}</strong></p>
    <p> Nome dipendente:<strong> {{value.employeeFirstName == null ? "---":value.employeeFirstName}} </strong></p>
    <p> Cognome dipendente:<strong> {{value.employeeLastName == null ? "---":value.employeeLastName}}</strong></p>
    <p> Antivirus presente:<strong> {{value.hasAntivirus == true ?"presente" :"non presente"}} </strong></p>
    <p> Status:<strong> {{value.historyAssetStatus== null ? "---":value.historyAssetStatus}}</strong></p>
    <p> Data creazione history asset:<strong> {{value.historyAssignmentDate== null ? "---":value.historyAssignmentDate}}</strong></p>
    <p> Data effettiva history asset:<strong> {{value.historyEffectiveAssignmentDate== null ? "---":value.historyEffectiveAssignmentDate}}</strong></p>
    <p> Hystory comodato d'uso:<strong> {{value.historySignedDocument== null ? "---":value.historySignedDocument}}</strong></p>
    <p> Hystory uploated comodato d'uso:<strong> {{value.historyuploadedSignedDocument== null ? "---":value.historyuploadedSignedDocument}}</strong></p>
    <p> Data di acquisto:<strong> {{value.purchaseDate== null ? "---":value.purchaseDate}}</strong></p>
    <p> Numero seriale:<strong> {{value.serialNumber== null ? "---":value.serialNumber}}</strong></p>
    <p> Note: <strong>{{value.note== null ? "---":value.note}}</strong></p>
    

</div>

 